/*
    Understrap child theme develop by Emalsha Rasad.
    https://github.com/Emalsha
    28th Aug 2018
    
*/

/* Boostrap primary view changes */
.bg-primary{
    background-color: $primary-color !important;
}

.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color-dark;
}

body{
    font-family:$font;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: $primary-text-color;
}

@mixin header-static{
    text-transform: uppercase;
    font-weight: 500;
}

@mixin header-hover-effect {
    a{
        transition: padding .5s;
        color: $primary-text-color;
        &:hover{
            border-left: 2px solid $divider-color;
            padding-left: 3px;
            color: $secondary-text-color;
        }
    }
}

h1 {
    @include header-static;
    @include header-hover-effect;
    color: $primary-text-color;
    font-size: 2.3rem;
}

h2 {
    @include header-static;
    @include header-hover-effect;
    color: $secondary-text-color;
    font-size: 1.7rem;
}

a {
    color: $primary-color-dark;
    &:hover{
        text-decoration: none;
        color: $secondary-text-color;
    }
}

.entry-content p{
    text-align: justify;
}

/* Navigation Bar */
.navbar-brand{
    color:#fff !important;
    text-transform: uppercase;
    font-family: $font;
    img{
        max-width: 9em;
        &:hover{
            filter: invert(1);
        }
    }
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-dark .navbar-nav .active{
    border-bottom: #fff solid;
}
.nav-link{
    font-weight: 500;    
}


/* Site footer */
.site-footer{
    text-align: center;
    font-size: .8em;
    color: #fff;
}

/* Gift post cards */
.gift{
    .card-columns{
        column-count: 2;
    }

    .card-title{
        font-size: 1.3rem;
    }

    p{
        text-align: justify;
        font-size: .8rem;
    }

    // .understrap-read-more-link{

    // }
}

//TODO
@media screen and (max-width: 992px) {
    .card-columns{
        column-count: 1;
    }
}

.entry-meta{
    font-size: .8em;
    color: darkslategray;
}

// GTranslate css edits
.switcher{
    width: 100px !important;
}

.switcher .option{
    background-color: transparent !important;
    max-height: none !important;
    border: none !important;
}

.switcher .selected{
    background: transparent !important;
}

.switcher .selected a{
    border: none !important;
    padding: 5px 3px 5px 0px !important;
}

.menu-item-gtranslate{
    width: 25px !important;
    padding-top: 7px !important;
    height: 25px !important;
}

/* Home page intro section */
.intro{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.section-intro{
    width: 100%;
    height: 100vh;
    background-color: $primary-color-light;
}

.intro-navbar{
    position: relative;
    top: 20px;
    justify-content: flex-end;
}

.intro-shape{
    width: 150px;
    height: 150px;
    background-color: $accent-color;
}

.welcome-line-1{
    font-size: 6rem;
}


// #triangle-1{
//     width: 50%;
//     bottom: 0;
// }

// #intro-svg{
//     width: 100%;
//     height: 100vh;
//     top: 0;
//     position: absolute;
// }