
.bg-primary{
    background-color: $gradient-color-1;
    background-image: linear-gradient(19deg, $gradient-color-1 0%, $gradient-color-2 100%);
}

body{
    font-family:$font;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;
}

h1,h2 {
	text-transform: uppercase;
	background: linear-gradient(19deg, $gradient-color-1 0%, $gradient-color-2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		// family: $font;
	};
}

h2 a:hover{
    background: linear-gradient(19deg, $gradient-color-1 0%, $gradient-color-2 90%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a:hover{
    text-decoration: none;
}

.navbar-brand{
    color:#fff !important;
    text-transform: uppercase;
}

.navbar-brand img{
    max-width: 3em;
}

.nav-link{
    font-weight: 600;
}

.card-columns{
    column-count: 2;
}